%h1 Listing monuments

%table.table.table-bordered
  %thead
    %tr
      %th Nom du monument
      %th Description
      %th Categories
      %th Voir
      %th Editer
      %th Editer

  %tbody
    = render @monuments
