.row
  .col-xl-2.col-lg-3.col-md-4.col-sm-6
    .card.card-block.card-inverse.bg-primary
      %span.hidden-lg-down xl-2
      %span.hidden-md-down.hidden-xl-up lg-3
      %span.hidden-sm-down.hidden-lg-up md-4
      %span.hidden-xs-down.hidden-md-up sm-6
  .col-xl-2.col-lg-3.col-md-4.col-sm-6
    .card.card-block.card-inverse.bg-primary
      %span.hidden-lg-down xl-2
      %span.hidden-md-down.hidden-xl-up lg-3
      %span.hidden-sm-down.hidden-lg-up md-4
      %span.hidden-xs-down.hidden-md-up sm-6
  .col-xl-2.col-lg-3.col-md-4.col-sm-6
    .card.card-block.card-inverse.bg-primary
      %span.hidden-lg-down xl-2
      %span.hidden-md-down.hidden-xl-up lg-3
      %span.hidden-sm-down.hidden-lg-up md-4
      %span.hidden-xs-down.hidden-md-up sm-6
  .col-xl-2.col-lg-3.col-md-4.col-sm-6
    .card.card-block.card-inverse.bg-primary
      %span.hidden-lg-down xl-2
      %span.hidden-md-down.hidden-xl-up lg-3
      %span.hidden-sm-down.hidden-lg-up md-4
      %span.hidden-xs-down.hidden-md-up sm-6
  .col-xl-2.col-lg-3.col-md-4.col-sm-6
    .card.card-block.card-inverse.bg-primary
      %span.hidden-lg-down xl-2
      %span.hidden-md-down.hidden-xl-up lg-3
      %span.hidden-sm-down.hidden-lg-up md-4
      %span.hidden-xs-down.hidden-md-up sm-6
  .col-xl-2.col-lg-3.col-md-4.col-sm-6
    .card.card-block.card-inverse.bg-primary
      %span.hidden-lg-down xl-2
      %span.hidden-md-down.hidden-xl-up lg-3
      %span.hidden-sm-down.hidden-lg-up md-4
      %span.hidden-xs-down.hidden-md-up sm-6
%hr/